
	
	
	
	

	
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Airline Reservation System</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/venobox/venobox.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/admin/adminhome"><span style="font-size: 24px;">FLYO</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="/static/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/admin/adminhome">Home</a></li>

          <li class="active"><a href="/admin/predict_flight">Predict</a></li>

           <li class="drop-down"><a href="">Manage</a>
            <ul>
              <li> </li>
              <li class="drop-down"><a href="/admin/adminmanagestaff">Staff</a>
		        <ul>
		           <li><a href="/admin/admin_manage_company">Company</a></li>
		           <li><a href="/admin/admin_manage_mechanic">Mechanic</a></li>
		        </ul>
		      </li>

              <li><li><a href="/admin/adminmanagecountries">Countries</a></li> 
			  <li><a href="/admin/adminmanageplace">Place</a> </li>
			  <li><a href="/admin/adminmanageairports">Ship ports</a>  </li>
				
			 
			   <!-- <li class="drop-down"><a href="/admin/adminmanagehotels">Hotels</a>
		        <ul>
		          <li><a href="/admin/adminmanagerooms">Rooms</a> </li>
		        </ul>
		      </li> -->


		      <li class="drop-down"><a href="#">Manage Details</a>
		        <ul>
		          <li><a href="/admin/adminmanagetypeofseat">Type of seat</a></li>
			      <li><a href="/admin/admin_manage_foods">Type of Foods</a></li>
			      <li><a href="/admin/admin_manage_bed_rooms">Type of Bedroooms</a></li>
			      <!-- <li><a href="/admin/adminmanagescheduleflight">Schedule Flight</a></li> -->
		        </ul>
		      </li>
		         
		    </ul>
		  </li>
         
		
		
	    <li><a href="/admin/adminviewusers">Verify Users </a> </li>
	    <li><a href="/admin/adminverifyusers">View Users</a> </li>
      <!-- <li><a href="/admin/view_booking">View Bookings</a> </li> -->
	    <li><a href="/admin/adminviewfeedback">Feedback</a> </li>
	    <!-- <li><a href="/admin/adminmanageflights">Flyts</a> </li> -->
	    
	    
	   
     
         
          <li><a href="/">Logout</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

